# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Environments
.venv/
.venv313/
env/
venv/

# Streamlit cache
.streamlit/credentials.toml
.streamlit/secrets.toml

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

